<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="test"/>
    <context:component-scan base-package="custom.client.kafka*"/>

    <bean class="custom.client.kafka.config.KafkaProducerConfig"
          p:acks="all"
          p:appName="finance-web"
          p:bootstrapServers="kafka-service:9092,kafka-service2:9092,kafka-service3:9092"
          p:enableIdempotence="true"
          p:enableTransactional="false"
    />

    <bean class="custom.client.kafka.config.KafkaConsumerConfig"
          p:appName="finance-web"
          p:bootstrapServers="kafka-service:9092,kafka-service2:9092,kafka-service3:9092"
          p:enableAutoCommit="false"
    />
</beans>
